.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 80px);
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 85, 0);
    padding: 20px;
}
.section-edit{
    align-self: flex-end;
}
.section-options{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.section-options .save-button{
    margin: 20px 0
}
.section-edit i{
    cursor: pointer;
}
.section-edit i:hover{
    color: rgb(0, 150,0);
}
.section .section-name{
    font-size: 20px;
    font-weight: bold;
}
.section .section-fields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.section .section-field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid rgb(0, 85, 0);
}
.section .section-field .field-name{
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
}
.section .input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section .section-field .field-value{
    border: 1px solid transparent;
    border-left: 1px solid rgb(0, 85, 0);
    min-width: 300px;
    background-color: white;
    outline: none;
    padding: 10px 20px;
    color: rgb(0, 85, 0);
    width: calc(100% - 40px);
    font-size: 15px;
}
.section .section-field .field-value:focus{
    border: 1px solid rgb(0, 85, 0);
}
.error{
    font-size: 12px;
    color: red;
}
.error-field{
    border: red 1px solid !important;
}