.skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 80px);
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(0, 85, 0);
    padding: 20px;
}
.skills-name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 85, 0);
}
.skills-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.skills-fields{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.skills-search{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 250px;
    color: black;
    border: 1px solid lightgreen;
    margin: 20px 5px;
}
.skills-search:focus{
    outline: none;
    border: 1px solid rgb(0, 85, 0);
}
.skills-filter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.skills .skill{
    padding: 5px 10px;
    font-size: 15px;
    background-color: lightgreen;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.skill.add-skill{
    color: rgb(0, 85, 0);
}
.skill.add-skill:hover{
    background-color: rgb(0, 85, 0);
    color: white;
}
.remove-skill-button{
    position: absolute;
    top: -18px;
    right: -7px;
    background: rgb(243, 104, 104);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.remove-skill-button:hover{
    background: red;
}