.reset-password-request-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.reset-password-request-form h2 {
    margin-bottom: 20px;
}

.reset-password-request-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.reset-password-request-form form input{ 
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.reset-password-request-form form span {
    margin-bottom: 10px;
}
.reset-password-request-form form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}