.special-form {
  width: 100%;
  max-width: 60em;
  max-height: 40em;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #70ca8e, #3b8d99);
  border-radius: 12px;
  overflow-y: scroll;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
}

.special-form::-webkit-scrollbar {
  width: 14px;
  background-color: #f1f1f1;
}

.special-form::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 15px;
  border: 3px solid #f1f1f1;
}

.special-form::-webkit-scrollbar-track {
  background-color: #e8e6e6;
}

.special-form::-webkit-scrollbar-corner {
  background-color: transparent;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-button {
  font-size: 1.2em;
  width: 30%;
  padding: 10px 15px;
  background: linear-gradient(135deg, #f40000, #d00000);
  color: white;
  border: none;
  border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: flex-start;
}

.form-button:hover {
  background-color: #af0000;
  transform: scale(1.05);
}

.form-button:active {
  background-color: #8b0000;
  transform: scale(0.95);
}