.remove-section-button {
    position: absolute;
    top: 60px;
    right: -20px;
    background-color: #f40000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.remove-section-button:hover {
    background-color: #af0000;
    transform: scale(1.1);
}

.special-form .remove-field-button {
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #f40000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.remove-field-button:hover {
    background-color: #af0000;
    transform: scale(1.1);
}

.special-form .section-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add space between buttons /
    margin-bottom: 20px;
    flex-wrap: wrap; / Allow buttons to wrap to the next line if needed */
}

.special-form .section-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 0px;
}

.special-form .section-button:hover {
    background-color: #e65c50;
    transform: scale(1.05);
}

.special-form .section-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.close-button-x {
    color:black;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 4em;
    cursor: pointer;
    padding: 10px;
  }
  
.close-button-x:hover {
    color: rgb(104, 103, 103);
}