.create-job {
    width: 100%;
    max-width: 60em;
    max-height:40em ;
    margin: 0 auto;
    padding: 20px;
    background-color: #70ca8e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.special-form::-webkit-scrollbar {
    width: 14px;
    background-color: #f1f1f1;
}
    
.special-form::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 15px;
    border: 3px solid #f1f1f1;
}
    
.special-form::-webkit-scrollbar-track {
    background-color: #e8e6e6;
}
    
.special-form::-webkit-scrollbar-corner {
    background-color: transparent;
}

.section-container {
    position: relative;
    width: 100%;
    max-width: 600px;
  }
    
    .section {
      font-size: .8em;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      max-width: 600px;
      max-height: fit-content;
      margin: 1%;
      display:block ;
      background-color:#ecebeb ;
      box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.5);
    }
    
    
    .section::-webkit-scrollbar {
      display: none;
    }
    .section-header {
      margin-left: 1.5%;
      margin-bottom: 0%;
    }
    
    .suggestions {
      background: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      z-index: 1000;
      width: 53%;
      max-height: 200px; 
      overflow-y: auto;
    }
    .suggestions::-webkit-scrollbar {
      width: 8px;
      background-color: #f1f1f1;
    }
    
    .suggestions::-webkit-scrollbar-thumb {
      background-color: #7a7a7a;
      border-radius: 4px;
      border: 2px solid #f1f1f1;
    }
    
    .suggestions::-webkit-scrollbar-track {
      background-color: #e8e6e6;
    }
    
    .suggestions::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    
    .suggest-item {
      font-size: 1.2em;
      padding: 8px;
      cursor: pointer;
    }
    
    .suggest-item:hover {
      background-color: #4f4ffc;
    }

form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
        
.form-button {
        font-size: 1.2em;
        width: 30%;
        padding: 10px 15px;
        background-color: #85d8ff;
        color: #000000;
        border: none;
        border-radius: 7px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-self: flex-start;
    }
        
.form-button:hover {
        background-color: #588ea7;
    }
          