:root {
  background-color: #ecebeb;
}

input[type="text"], input[type="url"], input[type="email"], input[type="tel"] {
    font-size: 2em;
    font-weight:500 ;
    width: 400px;
    color: rgb(0, 0, 0);
    display:inline-block ;
    border: .5px solid black ;
    border-radius: 5px;
  }
  
  input[type="radio"],input[type="checkbox"], input[type="date"]{
    font-size: 2em;
    display:inline-block ;
  }
  
  
  .year-input {
    font-size: 2em;
    max-width: 3em;
    display:inline-block ;
  }
  
  
  textarea {
    font-size: 2em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    display:inline-block ;
    max-width: 550px ;
    max-height: 300px;
    width: 80%;
    height: 60%;
  }
  
  input::placeholder {
    color: #5b5a5a;
    font-style: italic; 
    font-size: 0.9em; 
    opacity: 0.75; 
  }
  
  textarea::placeholder {
    font-size: 1em;
    color: #5b5a5a;
    font-style: italic; 
    font-size: 1.5em; 
    opacity: 0.75; 
  }
  
  
  select {
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    max-width: fit-content;
    display:inline-block ;
  }
  
  label {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display:flex ;
    flex: 1 1 30%; 
    margin-right: 50px;
  }
  
  .myp{
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(123, 7, 7);
    display:inline-block;
    max-width: 30em;
    margin-bottom:5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
  }
  
  .radio-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: fit-content;
  }
  
  
  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: fit-content;
  }

.section-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}
  
  .section {
    font-size: .8em;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    max-height: fit-content;
    margin: 1%;
    display:block ;
    background-color:#ecebeb ;
    box-shadow: 0px 0px 10px rgba(77, 77, 77, 0.5);
  }
  
  
  .section::-webkit-scrollbar {
    display: none;
  }
  .section-header {
    margin-left: 1.5%;
    margin-bottom: 0%;
  }
  
  .suggestions {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    width: 53%;
    max-height: 200px; 
    overflow-y: auto;
  }
  .suggestions::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
  }
  
  .suggestions::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
  }
  
  .suggestions::-webkit-scrollbar-track {
    background-color: #e8e6e6;
  }
  
  .suggestions::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  .suggest-item {
    font-size: 1.2em;
    padding: 8px;
    cursor: pointer;
  }
  
  .suggest-item:hover {
    background-color: #4f4ffc;
  }