.home {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.home .main-content {
    /* max-width: 1200px; */
    width: 80%;
    margin: 1em auto;
    padding: 2rem;
}

.home .hero-section {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home .hero-section h1 {
    font-size: 2.5rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.home .highlight {
    color: var(--primary);
}

.home .hero-section p {
    color: var(--text-secondary);
    margin-bottom: 1rem;
}

.home .content-layout {
    display: flex;
    gap: 3rem;
}

.home .filters-sidebar {
    position: sticky;
    top: 2rem;
    height: fit-content;
    min-width: 300px;
}

@media (max-width: 768px) {
    .home .content-layout {
        grid-template-columns: 1fr;
    }

    .home .sidebar {
        position: static;
    }
}

.home .job-content {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.home .jobs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.home .no-jobs-message {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    color: #6c757d;
    font-weight: 500;
    background-color: #f8f9fa;
    padding: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}


.home .loading-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #6c757d;
    font-weight: 500;
}


.home .job-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;

}

/* pagination */


.home .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}
.home .custom-pagination-button {
    padding: 10px 20px;
    background-color: transparent;
    /* border: 1px solid #007bff; */
    border-radius: 5px;
    /* color: #007bff; */
    cursor: pointer;
    /* transition: background-color 0.2s; */
}

.home .custom-pagination-button:hover {
    background-color: transparent;
    outline: none;
    border-color: transparent;
}


.home .custom-pagination-button:disabled {
    cursor: auto;
}


/* expanded jobs */

.home .expanded-job-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.home .expanded-job-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    /* max-width: 600px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
}

.home .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.home .close-button:hover {
    color: rgb(104, 103, 103);
}

.home .expanded-save-icon {
    margin-right: 30px;
    margin-top: 10px;
}


.home .apply-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.home .apply-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.home .apply-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.5);
}


.home .expanded-job-container .applied {
    background-color: #878787;
    cursor: default;
}

.home .expanded-job-container .applied:focus {
    outline: none;
    box-shadow: none;
}
